<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cs5248.android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".StreamingApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="AA_DB_NAME"
            android:value="cache.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />

        <!-- avoid scanning -->
        <meta-data
            android:name="AA_MODELS"
            android:value="com.cs5248.android.model.Video" />

        <activity
            android:name=".ui.HomeActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.AboutActivity"
            android:hardwareAccelerated="false"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cs5248.android.ui.HomeActivity" />
        </activity>

        <activity
            android:name=".ui.RecordActivity"
            android:label="@string/title_activity_record"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cs5248.android.ui.HomeActivity" />
        </activity>

        <activity
            android:name=".ui.VodPlaybackActivity"
            android:label="@string/title_activity_vod_playback"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cs5248.android.ui.HomeActivity" />
        </activity>

        <activity
            android:name=".ui.LiveStreamingActivity"
            android:label="@string/title_activity_live_streaming"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cs5248.android.ui.HomeActivity" />
        </activity>

    </application>

</manifest>
